/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color: #252a34 !default;
$text-color: #eaeaea !default;
$primary-color: #a2dbee !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: #636363 !default;
$code-background-color-dark: #636363 !default;
$form-background-color: #636363 !default;
$footer-background-color: #1b1b1b !default;
$link-color: $primary-color !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: $primary-color !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 10%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
